{% include relativebase.html %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <meta property="og:type" content="website"/>
  <meta name="twitter:card" content="summary"/>
  <meta property="og:image" content="https://lockbox.firefox.com/assets/images/social/lockbox-share-facebook.jpg"/>
  <meta name="twitter:image" content="https://lockbox.firefox.com/assets/images/social/lockbox-share-twitter.jpg"/>
  <link rel="stylesheet" href="{{relativeBase}}assets/inter/inter.css">
  <link rel="stylesheet" href="{{relativeBase}}assets/main.css">
</head>
