---
---
@import "minima";


// global
html {
  font-size: 15px;
}

body {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #0c0c0d;
}

h1, h2 ,h3, h4, h5 {
  line-height: 1.25;
}

h1,
h1.post-title {
  font-size: 2.4rem;
  font-weight: 200;
}

h2 {
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 1.867rem;
  font-weight: 300;
}

h3 {
  margin-top: 1.5rem;
  padding-top: 1rem;
  margin-bottom: .5rem;
  font-size: 1.467rem;
  font-weight: 300;
}

h4 {
  margin-bottom: .25rem;
  margin-top: 1.15rem;
  font-size: 1.133rem;
  font-weight: 500;
}

h5 {
  margin-bottom: .5rem;
  font-size: 0.8667rem;
  font-weight: 500;
}

// needed to overwrite the theme heading size declarations...
.post-content {
  h2 {
    font-size: 1.867rem;
  }

  h3 {
    font-size: 1.467rem;
  }

  h4 {
    font-size: 1.15rem;
  }

  h5 {
    font-size: 0.8667rem;
  }
}

a,
a:visited,
a:hover {
  color: #0060df;
}

a:active {
  color: #003eaa;
}

.site-header {
  border-top: none;
}

table {
  th {
    border-bottom: 1px solid #efefef;
    text-align: left;
  }

  td {
    padding: 4px 24px 4px 4px;

    img {
      vertical-align: text-top;
    }
  }
}

li {
  margin-top: .25rem;

  p {
    margin-bottom: 0;
  }
}

.logo {
  max-width: 160px;
  line-height: 54px;
  display: inline-block;
  float: left;
}

.icon-mail {
  width: 16px;
  height: 12px;
}

.post-content > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

a.button-link {
  display: block;
  margin: .5em auto;
  padding: 0.5em;
  width: 87%;
  color: white;
  background-color: #717171;
  border: 1px solid #717171;
  border-radius: 4px;
  text-align: center;
}

div.callout-box {
  float: right;
  width: 30%;
  margin-left: 1em;
  padding: 1em;
  background-color: #f9f9fa;
  border: 1px solid #717171;
  text-align: center;
}

.image-grid {
  img {
    margin: 0 0 1.5rem;
    width: 90%;
  }
}

img {
  max-width: 100%;
}

// footer
.footer-col:last-child {
  float: right;
}

.site-footer {
  .icon {
    fill: #828282;
    padding-right: 4px;
  }

  .contact-list,
  .social-media-list {
    margin: 0;
  }

  .site-info {
    margin: 0;

    li {
      list-style: none;
    }
  }

  h4 {
    margin: 0;
  }
}

.footer-col-wrapper {
  font-size: .85rem;
}

.footer-heading {
  margin: 0;
  padding: 0;
  font-size: 0.8667rem;
}


// small only
@media screen and (max-width: 600px) {
  .footer-col-2 {
    text-align: center;
    margin-top: 2rem;
    width: calc(100% - (30/2));
  }
}


// small & medium only
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 1rem;
  }
}

// medium up
@media screen and (min-width: 600px) {
  .footer-col-2 {
    text-align: right;
  }

  .image-grid {
    img {
      margin: 0 0 3rem;
      width: auto;
    }
  }

  .image-grid:not(.full) {
    img {
      display: inline-block;
      width: 46%;

      &:first-child {
        margin-right: 4%;
      }
    }
  }
}


// large
@media screen and (min-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: auto;
  }
}
