---
---
@import "minima";

table th {
  border-bottom: 1px solid #efefef;
  text-align: left;
}
table td {
  padding: 4px 24px 4px 0;
}

a.button-link {
  display: block;
  margin: .5em auto;
  padding: 0.5em;
  width: 12em;
  color: white;
  background-color: #717171;
  border: 1px solid #717171;
  border-radius: 4px;
  text-align: center;
}

div.callout-box {
  float: right;
  width: 30%;
  margin-left: 1em;
  padding: 1em;
  background-color: #f9f9fa;
  border: 1px solid #717171;
  text-align: center;
}
