---
---
@import "minima";

// MINIMA RESETS
$on-palm: 660px;
$on-laptop: 769px;
$base-font-family: 'Inter', sans-serif;

// OTHER VARS
$link-grey: #5e5e72;
$on-large-laptop: 1112px;



// GLOBAL RULES
html {
  box-sizing: border-box;
  font-size: 15px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #20123a;
  background: #f9f9fa;
  font-size: 1rem;
  line-height: 1.5;
  min-height: 100vh;
}

a,
a:visited,
a:hover {
  color: #0060df;
}

a:active {
  color: #003eaa;
}

img {
  max-width: 100%;
}

table {
  th {
    border-bottom: 1px solid #efefef;
    text-align: left;
  }

  td {
    padding: 4px 24px 4px 4px;

    img {
      vertical-align: text-top;
    }
  }
}

li {
  margin-top: .25rem;

  p {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.25;
  font-weight: 500;
}

h2 {
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 1.867rem;
}

h3 {
  margin-top: 1.5rem;
  padding-top: 1rem;
  margin-bottom: .5rem;
  font-size: 1.467rem;
}

h4 {
  margin-bottom: .25rem;
  margin-top: 1.15rem;
  font-size: 1.133rem;
  font-weight: 700;
}

h5 {
  margin-bottom: .5rem;
  font-size: 0.8667rem;
}

.logo {
  max-width: 237px;
}

// POST RULES
.post-header {
  margin-top: 16px;
}

h1,
h1.post-title {
  font-size: 2.8rem;
  font-weight: 700;
}

// POST RULES
.post-title {
  margin: 0;
}

.post-content > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

.post-content {
  h2 {
    font-size: 1.867rem;
  }

  h3 {
    font-size: 1.467rem;
  }

  h4 {
    font-size: 1.15rem;
  }

  h5 {
    font-size: 0.8667rem;
  }
}

.image-grid {
  img {
    margin: 0 0 1.5rem;
    width: 90%;
  }
}

// RESPONSIVE POST RULES
@media screen and (max-width: $on-laptop - 1) {
  .post-content h4 {
    font-size: 1rem;
  }
}

@media screen and (min-width: $on-palm) {
  .image-grid {
    img {
      margin: 0 0 3rem;
      width: auto;
    }
  }

  .image-grid:not(.full) {
    img {
      display: inline-block;
      width: 46%;

      &:first-child {
        margin-right: 4%;
      }
    }
  }
}

// HOME TEMPLATE RULES
.home {
  background: url(./images/bg.png) white;
  background-size: cover;
  box-sizing: border-box;
  display: grid;
  min-height: 100vh;
  width: 100%;

  .home__content {
    display: grid;
    justify-content: center;
  }

  .home__left {
    display: flex;
    flex-direction: column;
  }

  .home__app-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  .home__extension-link:before {
    content: "Try the Lockwise add-on";
    color: #20123a;
  }

  .home__extension-link {
    align-self: flex-start;
    margin-left: 13%;
    font-size: 18px;
    letter-spacing: -0.6px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;

    .button {
      min-width: 195px;
      height: auto;
      padding: 12px;
      margin-top: 12px;
      border-radius: 4px;
      background-color: #393473;
    }
  }

  h1 {
    font-size: 36px;
    line-height: 1.17;
    font-weight: bold;
    letter-spacing: -0.4px;
  }
}

@media screen and (max-width: $on-laptop - 1) {
  .home {
    grid-gap: 24px;
  }

  .home__title {
    padding: 16px 16px 0;
  }
  .home__content {
    grid-template-columns: 1fr;
    grid-template-rows: 280px auto;
    align-items: stretch;
    grid-gap: 24px;

    .home__left {
      width: 100%;
    }

    .home__app-buttons {
      margin: 0 0 24px;
      justify-content: center;
      a {
        padding: 0;
      }

      a:first-child {
        padding-right: 8px;
      }
    }

    .home__extension-link {
      display: none;
    }

    .home__content-right {
      img {
        max-width: 360px;
        width: 90%;
        display: block;
        margin: 0 auto;
      }
    }

    h1 {
      margin: 48px auto 36px;
      max-width: 420px;
      text-align: center;
      font-size:  32px;
      line-height: 38px;
    }
  }
}

@media screen and (min-width: $on-laptop) {
  .home {
    grid-template-rows: 48px auto 96px;
    justify-items: center;
  }

  .home__content {
    align-content: center;
    grid-gap: 12px;
    grid-template-columns: minmax(45%, 520px) minmax(45%, 520px);
    margin: 24px;

    .home__title {
      position: relative;
      top: 16px;
    }

    .home__left-inner {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      flex: 1 0 0%;
      justify-content: space-between;
    }

    .home__app-buttons {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 0 10%;

      a {
        flex-basis: content;
        position: relative;
      }

      .app-store {
        margin-right: 24px;
      }
    }
  }
}

@media screen and (min-width: $on-large-laptop) {
  .home__content {
    grid-gap: 24px;
    margin: 48px 24px;

    h1 {
      font-size: 48px;
      line-height: 1.17;
    }
  }
}

// SITE FOOTER AND HEADER
.site-footer,
.site-header {
  border: 0;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 400;

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    align-items: center;

    .page-link {
      color: $link-grey;
      font-size: 1rem;
    }

    &::after {
      position: absolute;
    }
  }
}

.home .site-header {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f4;
  justify-content: center;
  padding: 0 16px;
  min-height: 48px;
  height: 48px;

    @media screen and (max-width: 640px) {
      min-height: 60px;
      height: 60px;
    }

  img {
    flex: 0 0 24px;
    margin-right: 16px;

    @media screen and (max-width: 640px) {
      margin-right: 8px;
    }
  }

  p {
    color: #0C0C0D;
    font-size: 16px;
    margin: 0;

    @media screen and (max-width: 640px) {
      font-size: 12px;
    }

    a {
      text-decoration: underline;
    }
  }
}

.site-footer {
  .page-link:not(:last-child) {
    margin-right: 32px;
  }
}

.home .site-footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
}


@media screen and (max-width: 768px) {
  .home .site-footer {
    position: relative;
  }
  .site-footer {
    padding-bottom: 16px;

    .wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    .footer-links {
      display: flex;
      flex-direction: column;
    }

    .page-link {
      margin: 8px 0 0 0;
    }

    a {
      color: $background-color;
    }
  }
}
