---
layout: home
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

  <body class="home">
    <div class="site-header">
      <img src="{{relativeBase}}assets/images/icon-responsive-full-color.svg" alt="Join Firefox" width="24px">
      <p>There is a way to protect your privacy. <span style="white-space: nowrap">Join Firefox.</span> <a href="https://www.mozilla.org/firefox/accounts/?utm_source=lockwise.firefox.com&utm_medium=banner&utm_campaign=trailhead&utm_content=protect-your-privacy">Learn more.</a></p>
    </div>
    <main class="home__content" aria-label="Content">
        <div class="home__left">
          <div class="home__left-inner">
            <img class="home__title" src="{{relativeBase}}assets/images/lockwise-horizontal-logo.svg" alt="{{ site.title | escape }}">
            <h1>{{ content }}</h1>
          </div>
        <div class="home__app-buttons">
          <a class="app-store" href="{{ site.ios_link | escape }}">
            <img src="{{relativeBase}}assets/images/app-store.svg" alt="Apple App Store" height="50">
          </a>
          <a class="google-play-store" href="{{ site.android_link | escape }}">
            <img src="{{relativeBase}}assets/images/gps.svg" height="50" alt="Google Play Store">
          </a>
          <a class="home__extension-link" href="{{ site.fx_link | escape }}">
            <p class="button">Get Firefox</p>
          </a>
        </div>
        </div>
        <div class="home__content-right">
          <img src="./assets/images/devices.png" alt="Firefox Lockwise app on Android and iOS device">
        </div>
    </main>
    {%- include footer.html -%}
    <script type="text/javascript" src="{{relativeBase}}assets/compatcheck.js"></script>
  </body>
</html>
